*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    background-color: lightgray;
    margin: 50px auto;
    max-width: 1100px;
    padding: 50px;
    border-radius: 15px;
    

}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    margin: 20px 0;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin: 10px 0;
}
.col{
    width:33%;
    padding: 0 10px ;
}
.col.click{
    width: 80%; 
    display:flex;
    justify-content: center;
}
.col.click .btn{
    max-width: 200px;
    margin: 10px 10px;
}
.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.my-20{
    margin: 20px 0;
}
.d-flex{
    display: flex;
}
.b-top{
    border-top: 1px solid black;
}
.t-white{
    color: white;
}
.hide{
    display: none;
}